<!-- 1. Shows everyting  -->
<!-- <app-home></app-home>
<app-products></app-products>
<app-file-not-found></app-file-not-found> -->

<!-- 2. use browser's address bar -->
<!-- <router-outlet></router-outlet> -->

<!-- 3. Use a navigation bar -->
<!-- <nav>
  <ul>
    <li><a routerLink="home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="products" routerLinkActive="active">Products</a></li>
  </ul>
</nav>
<router-outlet></router-outlet> -->

<!-- or -->

<!-- <nav>
  <ul>
    <li><a [routerLink]="['home']" [routerLinkActive]="'active'">Home</a></li>
    <li><a [routerLink]="'products'" routerLinkActive="active">Products</a></li>
  </ul>
</nav>
<router-outlet></router-outlet> -->


<nav>
  <ul>
    <li><a [routerLink]="['info', 'home']" [routerLinkActive]="'active'">Home</a></li>
    <li><a [routerLink]="['info', 'products']" routerLinkActive="active">Products</a></li>
    <!-- or using a sub-nav -->
    <li><a [routerLink]="['communication']" routerLinkActive="active">Communication</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>